<div  class="details-container"  *ngIf="person"> 

  <h2>{{person.name+"\t"+person.surname+"\t"+person.Email+"\t|"+person.Age}}</h2>
  <div>
    <label for="person-name">Name:  <i class="fas fa-bell"></i></label>
    <input id="person-name" [(ngModel)]="person.name" placeholder="name"/>
  </div>
  <br>
  <div>
    <label for="person-name">Surname:  <i class="fas fa-universal-access"></i></label>
    <input id="person-name" [(ngModel)]="person.surname" placeholder="surname"/>
  </div>
  <br>
  <div>
    <label for="person-name">Email:  <i class="fas fa-tty"></i> </label>
    <input id="person-name" [(ngModel)]="person.Email" placeholder="Email"/>
  </div>
  <br>
  <div>
    <label for="person-name">Age:  <i class="fas fa-eject"></i></label>
    <input id="person-name" [(ngModel)]="person.Age" placeholder="Age"/>
    <br><button style="background-color: rgb(0, 0, 0); font-weight: 500px;color:rgb(255, 252, 252)" type="button" (click)="goBack()">Savek</button>
    <!-- <br><button style="background-color: rgb(0, 0, 0); font-weight: 500px;color:rgb(255, 252, 252)" type="button" (click)="cancelEdit()">Edit</button> -->
    <!-- <br><button style="background-color: rgb(0, 0, 0); font-weight: 500px;color:rgb(255, 252, 252)" type="button" (click)="updatePerson()">Update</button> -->
  </div>
</div>