

<base href="/">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <!-- <div> {{person.id+"\t"+person.name+"\t"+person.surname+"\t"+person.Email+"\t"+person.Age}}</div> -->
<!-- <div class="container">
    <p>{{people[0].name+"  |   "+people[0].surname+"   |  "+people[0].Email+"   |    "+people[0].Age | json}} </p>
</div> -->
   <table>
    <thead>
      <tr>
        <th>Id:</th>
        <th>Name:</th>
        <th>Surname:</th>
        <th>Email:</th>
        <th>Age:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <td>{{ person.id }} </td>
        <td>{{ person.name }}</td>
        <td>{{ person.surname }}</td>
        <td>{{ person.Email }}</td>
        <td>{{ person.Age }}</td>
      </tr>
    </tbody>
  </table>
